MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/portfolio
PORT=5000
FRONTEND_URL=http://localhost:5173
EMAIL_USER=prathambansal111.co@gmail.com
EMAIL_APP_PASSWORD=cpvm vlxm mfiv rndf
